@import "./normalize";

body{
    background-color: lightblue;
    font-size: 12px;
}
#table{
    width:100vw;
    background-color: white;
    margin:20px auto;
    overflow: auto;
    white-space: nowrap;
    text-transform: uppercase;
    scroll-behavior: smooth;
    border-radius: 10px;
    cursor: pointer;
        &::-webkit-scrollbar {
            width: 6px;
            background:linear-gradient(to right, lightgray,lightyellow);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: peru;
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }
    .row{
        display: flex;
        min-width: 100%;
        width: max-content;
        div{
          width:100px;
          flex:1;  
          height:70px;
          line-height: 70px;
          vertical-align:middle;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          span{
              font-size:10px;
              color:lightgray;
          }
        }
        .indices{
            width:50px;
            text-align: center;
        }
    }
    .header{
        font-weight: bold;
        border-bottom: 2px solid lightgrey;
        &:hover{
            background:rgba(160, 229, 231, 0.5) ;
        }
    }
    .data{
        color:grey;
        &:hover{
            background:rgba(231, 211, 211, 0.5) ;
        }
    }
}

@media screen and (min-width:992px){
    #table{
        width:95vw;
        .row div{
                min-width:150px;
            }
        
    }
}