* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0px;
  margin: 0px;
  font-family: arial,sans-serif;
}

body {
  font-size: 12px;
  overflow: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .icon {
  min-width: 50px;
  padding: 8px;
  line-height: 50px;
}

.navbar .icon svg {
  width: 24px;
  height: 24px;
  fill: #757575;
}

.navbar .links {
  min-width: 50px;
  height: 50px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #757575;
}

.navbar .links.active {
  color: #4285f4;
  border-bottom: 2px solid #4285f4;
}

.navbar .links a {
  text-decoration: none;
  color: inherit;
}

.navbar .spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar .signin {
  padding: 7px;
}

.navbar .signin button {
  outline: none;
  cursor: pointer;
  background: #1a73e8;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 36px;
  padding: 0px 15px;
  margin: auto;
  font-weight: bold;
  color: white;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 40px auto;
}

.main-content img {
  width: 40vmin;
  max-width: 272px;
  min-width: 140px;
  margin: 20px 0px;
}

@media screen and (min-width: 992px) {
  .main-content {
    width: 40%;
  }
}

.search {
  width: 100%;
  height: 40px;
  border: 1px solid #dadce0;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search .span {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  line-height: 40px;
  vertical-align: middle;
}

.search .span .search_icons {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 28px;
  height: 28px;
  fill: #9aa0a6;
}

@media screen and (max-width: 800px) {
  .search .span .search_icons path {
    fill: #9aa0a6 !important;
  }
}

.search .input {
  border: 0px;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search:hover, .search:focus {
  -webkit-box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.search_buttons {
  margin: 20px 0px;
}

.search_buttons button {
  padding: 10px 24px;
  outline: none;
  color: #5F6368;
  font-size: 14px;
  background-color: #f5f5f5;
  cursor: pointer;
  text-transform: capitalize;
}

.search_buttons button:last-child {
  margin-left: 20px;
}

.search_buttons button:hover {
  color: black;
  -webkit-box-shadow: 0px 0px 4px grey;
          box-shadow: 0px 0px 4px grey;
}

footer {
  position: fixed;
  width: 100vw;
  bottom: 0px;
  left: 0px;
}

footer span {
  padding: 0px 15px;
  text-transform: capitalize;
  font-size: 14px;
  color: #5f6368;
  font-weight: 400;
}

footer span:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer .sub-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 16px 0px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

footer .sub-footer:first-child {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

footer .sub-footer:first-child span {
  color: rgba(0, 0, 0, 0.54);
}

footer .sub-footer .spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 992px) {
  footer .sub-footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .sub-footer .web {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */