@import "./normalize";

body{
    font-size: 12px;
    overflow: hidden;
}
.navbar{
    display:flex;

    .icon{
        min-width:50px;
        padding:8px;
        line-height: 50px;
        svg{
            width: 24px;
            height: 24px;
            fill: #757575;
        }
    }
    .links{
        min-width: 50px;
        height: 50px;
        font-weight: bold;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        color: #757575;

        &.active{
            color:#4285f4;
            border-bottom: 2px solid #4285f4;
        }

        a{
            text-decoration: none;
            color:inherit;
        }
    }

    .spacer{
        flex: 1;
    }

    .signin{
        padding:7px;
        button{
            outline: none;
            cursor: pointer;
            background: #1a73e8;
            border: 1px solid transparent;
            border-radius: 3px;
            height:36px;
            padding:0px 15px;
            margin:auto;
            font-weight: bold;
            color: white;
        }
    }
}



.main-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width:90%;
    margin:40px auto;

    img{
        width:40vmin;
        max-width: 272px;
        min-width: 140px;
        margin:20px 0px;
    }

    @media screen and (min-width:992px){
        width:40%;
    }
}



.search{
    width:100%;
    height: 40px;  
    border:1px solid #dadce0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    .span{
        display: inline-block;
        width:40px;
        height:40px;
        position: relative;
        line-height: 40px;
        vertical-align: middle;
        .search_icons{
            position: absolute;
            top:6px;
            left:6px;
            width:28px;
            height:28px;
            fill: rgb(154, 160, 166);
             @media screen and (max-width:800px){
                & path{
                    fill: rgb(154, 160, 166)!important;
                }    
            }
        }
    }
  .input{
      border:0px;
      outline: none;
      flex:1;
  }


  &:hover, &:focus{
    box-shadow:0 1px 6px rgba(32,33,36,.28);
  }
}

.search_buttons{
    margin:20px 0px;
    button{
        padding:10px 24px;
        outline:none;
        color: #5F6368;
        font-size: 14px;
        background-color: #f5f5f5;
        cursor: pointer;
        text-transform: capitalize;
        &:last-child{
            margin-left:20px;
        }
        &:hover{
            color:black;
            box-shadow:0px 0px 4px grey ;
        }
    }
}

footer{
    position: fixed;
    width: 100vw;
    bottom: 0px;
    left:0px;
    span{
        padding:0px 15px;
        text-transform: capitalize;
        font-size: 14px;
        color:#5f6368;
        font-weight: 400;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .sub-footer{
        display: flex;
        flex-flow: row wrap;
        padding:16px 0px;
        background-color: #f2f2f2;
        border-top: 1px solid #e4e4e4;
        &:first-child{
            border-top: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            span{
                color:rgba(0,0,0,.54);
            }
        }
     
        .spacer{
            flex: 1;
        }

        @media screen and (max-width:992px) {
            justify-content: space-around;
            .web{
                display: none;
            }
        }
    }
}
