* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: lightblue;
  font-size: 12px;
}

#table {
  width: 100vw;
  background-color: white;
  margin: 20px auto;
  overflow: auto;
  white-space: nowrap;
  text-transform: uppercase;
  scroll-behavior: smooth;
  border-radius: 10px;
  cursor: pointer;
}

#table::-webkit-scrollbar {
  width: 6px;
  background: -webkit-gradient(linear, left top, right top, from(lightgray), to(lightyellow));
  background: linear-gradient(to right, lightgray, lightyellow);
  border-radius: 10px;
}

#table::-webkit-scrollbar-thumb {
  background-color: peru;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#table .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#table .row div {
  width: 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 70px;
  line-height: 70px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#table .row div span {
  font-size: 10px;
  color: lightgray;
}

#table .row .indices {
  width: 50px;
  text-align: center;
}

#table .header {
  font-weight: bold;
  border-bottom: 2px solid lightgrey;
}

#table .header:hover {
  background: rgba(160, 229, 231, 0.5);
}

#table .data {
  color: grey;
}

#table .data:hover {
  background: rgba(231, 211, 211, 0.5);
}

@media screen and (min-width: 992px) {
  #table {
    width: 95vw;
  }
  #table .row div {
    min-width: 150px;
  }
}
/*# sourceMappingURL=styles.css.map */